header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:2em;
}

h3{text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
  text-align: center
}
p{ margin: 100px
    
}
div{
    text-align: justify;
    line height:2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }

button {
        padding: 40px 50px;
        font-size: 50px;
        background-color: rgb(225, 223, 137);
        border: 2p;
        color: white;
        padding: 30px 45px;
        text-align: center;
        text-decoration: bold;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        position: relative;  
        max-width: 580px;
        border-radius: 30px;
}