header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:2px;
}

h3{text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: left;
    font-size: medium;

}
main{
  text-align: center
}
p{ margin: 150px

}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 15px;
    margin-top: 2px;
    margin-bottom: 3px;
    }

button {
        padding: 40px 50px;
        font-size: 50px;
        background-color: rgb(225, 223, 137);
        border: 2p;
        color: white;
        padding: 30px 45px;
        text-align: center;
        text-decoration: bold;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        position: relative;  
        max-width: 580px;
        border-radius: 30px;
}