header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

h3{text-align:left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
}
h2{
    text-align: left;
    font-size: medium;
    margin-left: 80px;
    margin-right: 80px;

}
#content{
    text-align: center;
    margin: 20px 0;
    max-width: 800px;
   }
.button-container {
    margin: 20px 0;
}
main{
  text-align: center;
}
p {
    margin: 10px 0;
    margin-left: 100px;
    margin-right: 100px;
    line-height: 1.6;
}
div{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    }

button {
        padding: 40px 50px;
        font-size: 50px;
        background-color: rgb(225, 223, 137);
        border: 2p;
        color: white;
        padding: 30px 45px;
        text-align: center;
        text-decoration: bold;
        display: inline-block;
        font-size: 20px;
        cursor: pointer;
        position: relative;  
        max-width: 580px;
        border-radius: 30px;
}