
header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{text-align:left;
}

body{
    text-align:justify;
}
.button-container{
    justify-content: center;
    gap: 50px;
    margin-top: 35px

}
button